<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application
        android:name=".SirimQrScannerApp"
        android:allowBackup="false"
        android:icon="@android:drawable/ic_menu_camera"
        android:label="SIRIM QR Scanner"
        android:roundIcon="@android:drawable/ic_menu_camera"
        android:supportsRtl="true"
        android:theme="@style/Theme.SirimQrScanner">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.SirimQrScanner">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
